:root{
  --blue-banner : #009EE3;
  --primary : #3483FA;
  --secondary : rgba(65, 137, 230, 0.15);
  --light-grey : #EDEDED;
  --white : #FFFFFF;
  --dark-grey : rgba(0, 0, 0, 0.55);
  --black : rgba(0, 0, 0, 0.90);
}

.fullscreen{
  background-color: var(--light-grey);
  height: 100vh;
  width: 100vw;
}
.app-wrapper {
  background-color: var(--white);
  height: 100vh;
  width: 50vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app {
  background-color: var(--blue-banner);
}

.app-content {
  border: solid black 1px;
  border-radius: 10px;
}
